*.aux
*.dat
*.lnk
*.log
*.mac
*.pdf
*.ps
*.dvi
*.LSD
*.bak
*.ini
*.idx
*.zip
*.bat
distributions/
testing/
web/
man-old/
questions/
.*/JUNK/
JUNK/
TG/
.*/0.tmp
.*/temp.tex
man/latex/
man/tests/
man/LocalRecycle/
ExPex[0-9][0-9]*/
